.header {
  height: 100px;
  background-color: palevioletred;
}
.container {
  min-height: calc(100vh - 200px);
  background-color: peru;
}
.footer {
  height: 100px;
  background-color: peachpuff;
}
