body {
  background-image: url('haru1.jpeg');
  // background-image: url('haru2.jpeg');
  background-size: cover;
}
.header {
  height: 80px;
  background-color: palevioletred;
  display: flex;
  line-height: 80px;
  text-align: center;
  &_logo{
    width: 300px;
  }
  &_title{
    flex: 1;
  }
  &_rigtht {
    width: 300px;
  }
}
.menu {
  display: flex;
  &_links {
    width: 100%;
    background-color: #6e6e6e;
    height: 34px;
    display: flex;
    line-height: 34px;
    li{
      width: 100%;
      text-align: center;
      list-style: none;
    }
    li a{
      color: #ffffff;
      text-decoration: none;
    }
    li a:hover {
      opacity: 0.8;
    }
  }
}
.container {
  min-height: calc(100vh - 300px);
  // background-color: peru;
}
.footer {
  height: 140px;
  background-color: #6e6e6e;
  display: flex;
  text-align: center;
  // line-height: 100px;
  margin: 0px auto;
  &_left {
    width: 200px;
    // height: 100%;
  }
  &_middle {
    flex :1;
    // height: 100%;
  }
  &_right {
    width: 200px;
    // height: 100%;
  }
}
.footer h3 {
  // line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.footer ul{
  list-style: none;
  // height: 100%;
  // line-height: 70px;
  margin-top: 0;
  margin-bottom: 0;
}
