body {
  background-image: url('haru1.jpeg');
  // background-image: url('haru2.jpeg');
  background-size: cover;
}
.header {
  height: 80px;
  // background-color: palevioletred;
  display: flex;
  line-height: 80px;
  text-align: center;
  &_logo{
    width: 300px;
    &_img{
      // margin-top: 15px;
      border-radius: 50%;
    }
  }
  &_title{
    flex: 1;
    &_string{
      font-size: 54px;
    }
  }
  &_title h1 {
    margin-top: 0px;
  }
  &_title h1 a{
    text-decoration: none;
  }
  &_right {
    width: 300px;
    background-color: palevioletred;
    border-radius: 50%;
  }
  &_right h3{
    margin-top: 0px;
  }
  &_right a{
    text-decoration: none;
  }
}
.header a:hover{
  opacity: 0.5;
}
.menu {
  display: flex;
  &_links {
    width: 100%;
    background-color: #6e6e6e;
    height: 34px;
    display: flex;
    line-height: 34px;
    li{
      width: 100%;
      text-align: center;
      list-style: none;
    }
    li a{
      color: #ffffff;
      text-decoration: none;
    }
    li a:hover {
      opacity: 0.8;
    }
  }
}
.container {
  min-height: calc(100vh - 300px);
  // width: 100vh;
  // display: flex;
  // background-color: peru;
}
.wrapper {
  width: 100vh;
  height: 100%;
  display: flex;
}
.nav {
  width: 300px;
  min-height: 700px;
  background-color: aqua;
  &_ul {
    list-style: none;
  }
  &_ul a{
    text-decoration: none;
  }
  &_ul li{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.main {
  width: calc(100% - 300px);
  margin-left: 300px;
}
.footer {
  height: 130px;
  background-color: #6e6e6e;
  display: flex;
  text-align: center;
  // line-height: 100px;
  padding-top: 10px;
  &_left {
    width: 200px;
    // height: 100%;
  }
  &_middle {
    flex :1;
  }
  &_right {
    width: 200px;
    text-align: left;
  }
}
.footer h3 {
  // line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
  color: aliceblue;
}
.footer ul{
  list-style: none;
  // height: 100%;
  // line-height: 70px;
  margin-top: 0;
  margin-bottom: 0;
}
.footer ul a{
  list-style: none;
  text-decoration: none;
  color: aliceblue;
}
