<footer class="footer">
  <div class="footer_left" >
    <h3>left</h3>
    <ul>
      <li>left</li>
      <li>left</li>
      <li>left</li>
    </ul>
  </div>
  <div class="footer_middle" >
    <h3>middle</h3>
    <ul>
      <li>middle</li>
      <li>middle</li>
      <li>middle</li>
    </ul>
  </div>
  <div class="footer_right">
    <h3>right</h3>
    <ul>
      <li>right</li>
      <li>right</li>
      <li>right</li>
    </ul>
  </div>
</footer>
