<header class="header" >
  <div class="header_logo">
    <% link_to image_tag("flower-6.png", alt: "logo", width: "80px", class:"#") %>
  </div>
  <div class="header_title">
    <h1>Spring App</h1>
  </div>
  <div class="header_rigtht">right</div>
</header>
