<header class="header" >
  <div class="header_logo">
    <%= link_to image_tag("flower-6.png", alt: "logo", width: "80px", class:"header_logo_img") %>
  </div>
  <div class="header_title">
    <h1><%= link_to "Spring App", "header_title_string" %></h1>
  </div>
  <div class="header_right">
    <% time = Time.now %>
    <h3><%=link_to time.strftime("%Y年%m月%d日 %H:%M:%S"), "header_right_time" %><h3>
  </div>
</header>
